  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->
    <link rel="icon" type="image/png" sizes="32x32" href="/logo-32x32.png" />
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> -->
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/brands.min.css">
    <link rel="stylesheet" href="/assets/css/solid.min.css">
    <title><%= title %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/logo.png` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('webpack.ejs') %> <% if (page.url == "/") { %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
    <% } %>
  </head>

  <body class="antialiased w-full text-gray-700">
    <div class="flex">
      <div class="bg-yellow-400 flex-auto">
      </div>
      <div class="max-w-screen-lg mx-auto flex flex-wrap grow w-full">
        <div class="bg-yellow-400 px-12 flex w-full md:w-auto">
          <a href="/" class="text-5xl my-auto self-center leading-none mx-auto font-bold text-white hover:no-underline">
            <div>
              <img src="/assets/images/logo.png" alt="">
            </div>
          </a>
        </div>
        <nav class="ml-auto py-8 w-full md:w-auto px-4">
          <!-- <a href="#" class="block md:inline mr-12 font-medium hover:text-blue-300 text-blue-900 no-underline hover:no-underline">
            Proceso
          </a> -->
          <a href="/comisionados" class="block md:inline mr-12 font-medium hover:text-blue-300 text-blue-900 no-underline hover:no-underline">
            Comisionados
          </a>
          <a href="/candidaturas" class="block md:inline mr-12 font-medium hover:text-blue-300 text-blue-900 no-underline hover:no-underline">
            Candidaturas
          </a>
          <a href="/eventos" class="block md:inline mb-4 md:mb-0 mr-12 font-medium hover:text-blue-300 text-blue-900 no-underline hover:no-underline">
            Eventos
          </a>
          <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" class="mr-4 text-gray-500">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg" target="_blank" class="mr-4 text-gray-500">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/redxguate/" target="_blank" class="mr-4 text-gray-500">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://twitter.com/RedxGuate" target="_blank" class="text-gray-500">
            <i class="fab fa-twitter"></i>
          </a>
        </nav>
      </div>
      <div class="bg-white-400 flex-auto">
      </div>
    </div>
    <main>
      <div class="text-xl">
        <%- content %>
      </div>
    </main>
    <div class="bg-footer text-white">
      <div class="max-w-screen-lg px-4 md:px-0 mx-auto py-12">
        <div class="grid grid-cols-9">
          <div class="col-span-9 md:col-span-3 mb-4 md:mb-0">
            <p class="font-bold mb-4">¿Te gusta lo que hacemos?</p>
            <ul>
              <li class="mb-2">
                <i class="fas fa-heart"></i>
                Donaciones
              </li>
              <li class="mb-2">
                <i class="fas fa-users"></i>
                Voluntariado
              </li>
            </ul>
          </div>
          <div class="col-span-9 md:col-span-3 mb-4 md:mb-0">
            <p class="font-bold mb-4">Siguenos en:</p>
            <div class="flex">
              <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" class="mr-2">
                <img src="/mi-guatemala/images/icon-fb-white.png" alt="Facebook">
              </a>
              <a href="https://twitter.com/RedxGuate" target="_blank" class="mr-2">
                <img src="/mi-guatemala/images/icon-tw-white.png" alt="Twitter">
              </a>
              <a href="https://www.instagram.com/redxguate/" target="_blank">
                <img src="/mi-guatemala/images/icon-in-white.png" alt="Instagram">
              </a>
            </div>
          </div>
          <div class="col-span-9 md:col-start-8 md:col-end-10 mb-4 md:mb-0">
            <p class="font-bold mb-4">Contáctanos:</p>
            <p class="mb-2">
              <i class="fas fa-envelope"></i>
              info@redciudadana.org.gt
            </p>
            <p class="mb-2">
              <i class="fas fa-map-marker-alt"></i>
              Guatemala, Guatemala
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="max-w-screen-lg px-4 py-2 md:px-0 mx-auto">
        <div class="grid grid-cols-6">
          <div class="col-span-9 md:col-span-4 text-left flex mb-4">
            <img src="/mi-guatemala/images/logo-rc-color.png" alt="Red Ciudadana">
            <p class="my-auto font-semibold">Desarrollado por Asocicación Civil Red Ciudadana</p>
          </div>
          <div class="col-span-9 md:col-span-2 justify-center md:justify-end flex">
            <img src="/mi-guatemala/images/icon-cc-by.png" alt="CC-BY" class="w-18 my-auto mr-4">
            <img src="/mi-guatemala/images/icon-cc-cc.png" alt="CC-CC" class="w-18 my-auto mr-4">
            <img src="/mi-guatemala/images/icon-cc-sa.png" alt="CC-SA" class="w-18 my-auto">
          </div>
      </div>
    </div>
  </body>
</html>
