---
layout: layouts/base.ejs
---
<div class="max-w-screen-xl mx-auto mb-6">
  <div class="grid grid-cols-4">
    <div class="col-span-full">
      <article>
        <header>
          <h1 class="text-center font-bold text-4xl text-gray-800">
            <%= title %>
          </h1>
          <div class="text-center text-sm mb-8">
            <% this.dateFns.format(new Date(date), 'LLLL d, yyyy' ) %>
          </div>
          <div class="text-center text-sm text-gray-600">
            Categoria:
            <% if (locals.tags) { %>
              <% tags.forEach((tag)=> { %>
                <!-- Don't show hidden tag -->
                <% if (tag !=='posts' ) { %>
                  <!-- /<%= tag.toLowerCase() %> -->
                  <span class="text-sm font-semibold text-gray-900 uppercase ml-2">
                    <%= tag %>
                  </span>
                <% } %>
              <% }) %>
            <% } %>
          </div>
        </header>
  
        <section class="content text-justify">
          <%- content %>
        </section>
      </article>
    </div>
    <div class="col-span-full mt-6">
      <h2 class="font-bold text-xl border-b-2 border-yellow-500 mb-4 pb-4">Más publicaciones</h2>
      <ul>
        <% if (locals.tags) { %>
          <% tags.forEach((tag)=> { %>
            <% if (tag !=='posts') { %>
              <% collections[tag].slice(0,4).forEach((post)=> { %>
                <% if (locals.page.url !== post.url) { %>
                  <li class="mb-3 block justify-between">
                    <a href="<%= post.url %>" class="flex border-b-2 pb-4 mb-4 text-current">
                      <img src="<%= post.data.image %>" alt="Evento" class="w-36">
                      <div class="pl-8 my-auto">
                        <h5 class="font-bold text-lg">
                          <%= post.data.title %>
                        </h5>
                        <span class="text-sm">
                          <%= post.data.description %>
                        </span>
                      </div>
                    </a>
                  </li>
                <% } %>
              <% }) %>
            <% } %>
          <% }) %>
        <% } %>
      </ul>
    </div>
  </div>
</div>