---
layout: layouts/base.ejs
pagination:
  data: collections.Blog
  size: 5
  alias: list
  reverse: true
permalink: 'blog/<% if (pagination.pageNumber > 0) { %><%= `page/${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---
<div class="max-w-screen-lg px-4 md:px-0 mx-auto mb-6">
  <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
    <div class="col-span-9">
      <h4 class="font-bold text-4xl border-b-2 border-yellow-500 mb-4 pb-4">Blog</h4>
      <div>
        <% if (list) { %>
          <% list.forEach((post)=> { %>
            <a href="<%= post.url %>" class="flex border-b-2 pb-4 mb-4 text-current">
              <img src="<%= post.data.image %>" alt="Blog" class="w-36">
              <div class="pl-8 my-auto">
                <h5 class="font-bold text-lg">
                  <%= post.data.title %>
                </h5>
                <span class="text-sm font-semibold">
                  <%= this.dateFns.format(new Date(post.data.date), 'MM-dd-yyyy' , { locale: this.es }) %>
                </span>
                <p class="text-base">
                  <%= post.data.description %>
                </p>
              </div>
            </a>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="col-span-9 text-sm flex justify-end">
      <% if (pagination.previous) { %>
      <div>
        <a class="text-white bg-yellow-500 font-bold p-2 text-center hover:bg-yellow-600 hover:no-underline"
          href="<%= pagination.previous.replace(/index.html$/, "") %>">
          ←  Nuevos blog
        </a>
      </div>
      <% } %>
      <% if (pagination.next) { %>
        <div class="text-right mt-2">
          <a class="text-white bg-yellow-500 font-bold p-2 text-center hover:bg-yellow-600 hover:no-underline"
            href="<%= pagination.next.replace(/index.html$/, "") %>">
            Blog anteriores →
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>