---
layout: layouts/base.ejs
pagination:
  data: collections.Evento
  size: 2
  alias: list
  reverse: true
permalink: 'eventos/<% if (pagination.pageNumber > 0) { %><%= `page/${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---
<div class="max-w-screen-lg px-4 md:px-0 mx-auto mb-6">
  <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
    <div class="col-span-9">
      <h4 class="font-bold text-4xl border-b-2 border-yellow-500 mb-4 pb-4">Eventos</h4>
      <div>
        <% if (list) { %>
          <% list.forEach((post)=> { %>
            <div class="flex border-b-2 mb-4 text-current bg-gray-100 py-12 relative">
              <h6 class="text-2xl font-semibold mb-auto text-left w-1/4 pl-16">
                <span class="font-normal text-base"><i class="fas fa-calendar-day mr-2 text-green-500"></i> Event Date</span>
                <br>
                <%= this.dateFns.format(new Date(post.data.date), 'MM/dd/yyyy' , { locale: this.es }) %>
              </h6>
              <img src="<%= post.data.image %>" alt="Evento" class="w-48 h-48">
              <div class="pl-16 mb-auto">
                <a href="<%= post.url %>" class="font-bold text-current text-3xl">
                  <%= post.data.title %>
                </a>
                <p class="text-base mt-2">
                  <%= post.data.description %>
                </p>
              </div>
              <a href="<%= post.url %>" class="bg-yellow-500 bottom-0 right-0 absolute w-28 h-12 flex hover:no-underline">
                <i class="fas fa-long-arrow-alt-right text-white text-4xl m-auto"></i>
              </a>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="col-span-9 text-sm flex justify-end">
      <% if (pagination.previous) { %>
      <div>
        <a class="text-gray-900 text-xs border border-gray-900 p-2 text-center hover:bg-gray-800 hover:border-gray-800 hover:no-underline hover:text-gray-50"
          href="<%= pagination.previous.replace(/index.html$/, "") %>">
          ←  Nuevos eventos
        </a>
      </div>
      <% } %>
      <% if (pagination.next) { %>
        <div class="text-right mt-2">
          <a class="text-gray-900 text-xs border border-gray-900 p-2 text-center hover:bg-gray-800 hover:border-gray-800 hover:no-underline hover:text-gray-50"
            href="<%= pagination.next.replace(/index.html$/, "") %>">
            Eventos anteriores →
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>