---
title: EleccionCC
---
<div class="max-w-screen-lg mx-auto mb-6">
  <div class="grid grid-cols-9 gap-4 justify-center text-center py-6">
    <div class="col-start-3 col-span-6 mb-8">
      <h2 class="text-3xl font-bold">¿En qué etapa va el proceso de elección del Ministerio Público?</h2>
    </div>
    <div class="col-span-3 bg-blue-300 p-6 rounded-2xl">
      <img src="/assets/images/iconos/01.png" alt="Personas" class="mx-auto h-28">
      <h2 class="text-3xl font-bold">Paso 1</h2>
      <h3 class="text-lg font-bold text-white pb-4">Del 22 al 30 enero</h3>
      <p class="text-lg font-normal">
        Elección de Secretarios Titular y Suplente de la Comisión y aprobación de las distintas herramientas
      </p>
    </div>
    <div class="col-span-3 bg-gray-100 p-6 rounded-2xl">
      <img src="/assets/images/iconos/02.png" alt="Personas" class="mx-auto h-28">
      <h2 class="text-3xl font-bold">Paso 2</h2>
      <h3 class="text-lg font-bold text-blue-300 pb-4">5 de febrero</h3>
      <p class="text-lg font-normal">
        Primera publicación de la convocatoria
      </p>
    </div>
    <div class="col-span-3 bg-gray-100 p-6 rounded-2xl">
      <img src="/assets/images/iconos/03.png" alt="Personas" class="mx-auto h-28">
      <h2 class="text-3xl font-bold">Paso 3</h2>
      <h3 class="text-lg font-bold text-blue-300 pb-4">Del 06 al 16 enero</h3>
      <p class="text-lg font-normal">
        Recepción de solicitudes y currículum. Revisión de los expedientes.
      </p>
    </div>
  </div>
</div>
<div class="w-full bg-gray-100">
  <div class="max-w-screen-lg mx-auto">
    <div class="grid grid-cols-9 gap-4 justify-center text-center py-16">
      <% if (collections['podcastsHighlighted']) { %>
          <% collections['podcastsHighlighted'].slice(0,1).forEach((podcast)=> { %>
            <div class="col-span-4 text-left">
              <h3 class="uppercase font-bold text-base tracking-wider">podcast</h3>
              <h2 class="font-bold text-4xl"><%= podcast.data.title %></h2>
            </div>
            <div class="col-span-5">
              <iframe src="<%= podcast.data.link %>" width="100%"
                height="232" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
          <% }) %>
        <% } %>
    </div>
  </div>
</div>
<div class="max-w-screen-lg mx-auto mb-6">
  <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
    <div class="col-span-6">
      <h4 class="font-bold text-4xl border-b-2 border-yellow-500 mb-4 pb-4">Eventos</h4>
      <div>
        <% if (collections['Evento']) { %>
          <% collections['Evento'].forEach((post)=> { %>
            <a href="<%= post.url %>" class="flex border-b-2 pb-4 mb-4 text-current">
              <img src="<%= post.data.image %>" alt="Evento" class="w-36">
              <div class="pl-8 my-auto">
                <h5 class="font-bold text-lg"><%= post.data.title %></h5>
                <span class="text-sm"><%= post.data.description %></span>
              </div>
            </a>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="col-span-3">
      <div class="h-20 flex">
        <h4 class="uppercase font-bold text-base tracking-wider my-auto">Videos</h4>
      </div>
      <div>
        <% if (collections['Video']) { %>
          <% collections['Video'].forEach((video)=> { %>
            <a href="<%= video.url %>" class="block mb-4 text-current">
              <iframe src="<%= video.data.link %>" title="YouTube video player" class="mb-4" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <p class="text-sm mb-4"><%= video.data.description %></p>
            </a>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="w-full bg-blue-900">
  <div class="max-w-screen-lg mx-auto">
    <div class="grid grid-cols-9 gap-4 justify-center text-left py-16 text-white">
      <div class="col-span-5">
        <h2 class="font-bold text-4xl ">Suscríbete</h2>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetuer adpiscing elit, sed diam nomum
        </p>
      </div>
      <div class="col-span-4">
        <p class="text-base mb-2 mt-auto">(Correo electrónico)</p>
        <input type="text" class="h-12 mb-auto">
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-lg mx-auto mb-6">
  <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
    <div class="col-span-6">
      <h4 class="font-bold text-4xl border-b-2 border-yellow-500 mb-4 pb-4">Blog</h4>
      <div>
        <% if (collections['Blog']) { %>
          <% collections['Blog'].forEach((post)=> { %>
            <a href="<%= post.url %>" class="flex border-b-2 pb-4 mb-4 text-current">
              <img src="<%= post.data.image %>" alt="Evento" class="w-36">
              <div class="pl-8 my-auto">
                <h5 class="font-bold text-lg"><%= post.data.title %></h5>
                <span class="text-sm"><%= post.data.description %></span>
              </div>
            </a>
          <% }) %>
        <% } %>
      </div>
    </div>
    <div class="col-span-3">
      <div class="h-20 flex">
        <h4 class="uppercase font-bold text-base tracking-wider my-auto">Podcast</h4>
      </div>
      <div>
        <% if (collections['podcasts']) { %>
          <% collections['podcasts'].forEach((podcast)=> { %>
            <div class="block mb-4">
              <iframe src="<%= podcast.data.link %>" width="100%"
                height="152" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
              <p class="text-sm mb-4"><%= podcast.data.description %></p>
            </div>
          <% }) %>
        <% } %>
        <div class="block mb-4">
          <img src="/assets/images/WEB_MP-15.png" alt="Evento" class="w-auto mb-4">
          <p class="text-sm mb-4">Lorem ipsum dolor sit amet, consectetuer adpiscing elit, sed diam nomun</p>
        </div>
        <div class="block mb-4">
          <img src="/assets/images/WEB_MP-15.png" alt="Evento" class="w-auto mb-4">
          <p class="text-sm mb-4">Lorem ipsum dolor sit amet, consectetuer adpiscing elit, sed diam nomun</p>
        </div>
      </div>
    </div>
  </div>
</div>