---
layout: layouts/base.ejs
pagination:
  data: collections.Video
  size: 5
  alias: list
  reverse: true
permalink: 'video/<% if (pagination.pageNumber > 0) { %><%= `page/${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---
<div class="max-w-screen-lg px-4 md:px-0 mx-auto mb-6">
  <div class="grid grid-cols-9 gap-4 justify-center text-left py-16">
    <div class="col-span-9">
        <h4 class="font-bold text-4xl border-b-2 border-yellow-500 mb-4 pb-4">Videos</h4>

        <% if (list) { %>
            <% list.forEach((video)=> { %>
              <div class="flex border-b-2 mb-4 text-current bg-gray-100 py-12 relative responsive">
                <h6 class="text-2xl font-semibold mb-auto text-left px-4 pl-16">
                  <span class="font-normal text-base"><i class="fas fa-calendar-day mr-2 text-green-500"></i> Fecha del Video</span>
                  <br>
                  <%= this.dateFns.format(new Date(video.data.date), 'dd/MM/yyyy' , { locale: this.es }) %>
                </h6>
                <iframe src="<%= video.data.link %>" title="YouTube video player" class="mb-4 m-auto" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="px-4 mb-auto">
                  <a href="<%= video.url %>" class="font-bold text-current text-3xl">
                    <%= video.data.title %>
                  </a>
                  <p class="text-base mt-2">
                    <%= video.data.description %>
                  </p>
                </div>
                <a href="<%= video.url %>" class="bg-yellow-500 bottom-0 right-0 absolute w-28 h-12 flex hover:no-underline">
                  <i class="fas fa-long-arrow-alt-right text-white text-4xl m-auto"></i>
                </a>
              </div>
            <% }) %>
        <% } %>

        <style>

          @media (max-width: 820px) {
              .col-span-9{
                  margin:0 1.5rem
              }
          }
  
          @media (max-width: 480px){
              .responsive{
                  display:block!important;
              }
          }
  
        </style>

    </div>
    <div class="col-span-9 text-sm flex justify-end">
      <% if (pagination.previous) { %>
      <div>
        <a class="text-white bg-yellow-500 font-bold p-2 text-center hover:bg-yellow-600 hover:no-underline"
          href="<%= pagination.previous.replace(/index.html$/, "") %>">
          ←  Nuevos eventos
        </a>
      </div>
      <% } %>
      <% if (pagination.next) { %>
        <div class="text-right mt-2">
          <a class="text-white bg-yellow-500 font-bold p-2 text-center hover:bg-yellow-600 hover:no-underline"
            href="<%= pagination.next.replace(/index.html$/, "") %>">
            Eventos anteriores →
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>